/* Import base styles từ Tailwind */
@import "./styles/base.css";
/* Import các styles dành cho layout */
@import "./styles/layouts.css";
/* Import các styles dành cho component */
@import "./styles/components.css";
/* Import các utilities tùy chỉnh */
@import "./styles/util.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
