/* input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to top, #93c5fd, #3b82f6);
} */
input[type="range"] {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 8px; /* Độ rộng của thanh trượt */
  height: 150px; /* Chiều cao của thanh trượt */
  background: lightblue; /* Màu nền */
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 12px; /* Kích thước nút tròn */
  height: 12px;
  background: blue; /* Màu của nút */
  background: linear-gradient(to top, #93c5fd, #3b82f6);
  border-radius: 50%; /* Làm tròn nút */
  cursor: pointer;
  position: relative;
  margin-top: -6px; /* Căn giữa nút */
}
