@import './reset.css'; /* Reset phải lên đầu */
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* Biến dùng chung */
:root {
    --bg-color: rgb(243 244 246);
    --bg-color-dark: #0f172a;
    --text-color: rgb(9 9 11);
    --collapse-w: 80px;
    --not-collapse-w: 256px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #49494b;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #666668;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777779;
}
