@import "./reset.css"; /* Reset phải lên đầu */
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Biến dùng chung */
:root {
  --bg-color: rgb(243 244 246);
  --bg-color-dark: #0f172a;
  --text-color: rgb(9 9 11);

  --bg-light-mode: ;
}
